@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Open+Sans:wght@400;500;600;700;800&display=swap');
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/* Nav and Header Section */
body{
    background: #181818;
}
.main-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position:fixed;
    top: 0;
    background: #181818;
    border-bottom: 1px solid #9B9D9E;
}
.main-header .logo{
    width: 240px;
    margin: 0 24px;
}
nav{
    width: 70%;
}
.main-header .nav-list{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 32px;
}
.main-header .nav-list .item-nav{
    font-size: 16px;
    font-weight:600;
    color: #9B9D9E;
    font-family: 'Open Sans';
}


.home-section{
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgba(44, 31, 31, 0.281) url('../assets/home.jpg') top /cover no-repeat;
    font-family: 'Black Ops One';
    color: #ffffff;
}
.home-section h1{

    font-weight: 400;
    font-size: 72px;
    margin:100px 0 0;
}


@media screen and (max-width: 768px){
    .main-header{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .main-header .logo{
        width: 180px;
        margin:0 auto;
    }
    nav{
        width: 100%;
    }
    .main-header .nav-list{
        padding-bottom: 12px;
        
    }
    .main-header .nav-list .item-nav{
        font-size: 12px;
    }
    
    .home-section h1{
        margin: 120px 0 0;
        font-size: 28px;
        
    }
    .home-section p{
        font-size: 12px;
        margin: 0 0 240px 0;
    }
}