@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Open+Sans:wght@400;500;600;700;800&display=swap');
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
h2{
    padding: 100PX 0 20px;
    text-align: center;
    font-size: 40px;
    color: #FFFB00;
    
}
p{
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}
body{
    background: #181818;
}
section{
    font-family: 'Black Ops One';
}

/* Nav and Header Section */

.main-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position:fixed;
    top: 0;
    background: #181818;
    border-bottom: 1px solid #9B9D9E;
}
.main-header .logo{
    width: 240px;
    margin: 0 24px;
}
nav{
    width: 70%;
}
.main-header .nav-list{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 32px;
}
.main-header .nav-list .item-nav{
    font-size: 16px;
    font-weight:600;
    color: #9B9D9E;
    font-family: 'Open Sans';
}

/* Home Section */

.home-section{
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgba(44, 31, 31, 0.281) url('../assets/home.jpg') top /cover no-repeat;
    font-family: 'Black Ops One';
    color: #ffffff;
}
.home-section h1{

    font-weight: 400;
    font-size: 72px;
    margin:100px 0 0;
}

/* Plans Section */

.plans-section{
    width: 100%;
    height: auto;
}

.plans-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.plan{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 140vh;
    background: #707070;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.plan h3{
    text-align: center;
    font-size: 22px;
    color: #FFFB00;

}
.plan > .plan-image{
    width: 100%;
    border-radius: 20px;
    border: 1px solid #181818;
}
.plan > .plan-icon{
    width: 32%;
}
.plan p{
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #181818;
    padding-bottom: 16px;
}

/* About Us Section */

.about-us{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-us .about-us-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.about-us .about-us-content p{
    width: 40%;
    line-height: 2;
}

/* Contact section */

.contact{
    width: 100%;
    height: 100vh;
    margin-bottom: 20px;
}

.contact .contact-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 40px;
}


.contact .contact-content img{
    width: 50%;
    border-radius: 20px;
}
.contact .contact-content .team-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}
.contact .contact-content .team-container .team{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 4px;
}
.contact .contact-content .team-container .team h3{
    font-size: 22px;
    color: #FFFB00;
}

/* For Mobile */

@media screen and (max-width: 768px){
    h2{
        padding: 40px 0 20px;
        font-size: 28px;
    }
    .main-header{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .main-header .logo{
        width: 180px;
        margin:0 auto;
    }
    nav{
        width: 100%;
    }
    .main-header .nav-list{
        padding-bottom: 12px;
        
    }
    .main-header .nav-list .item-nav{
        font-size: 12px;
    }
    
    .home-section h1{
        margin: 120px 0 0;
        font-size: 28px;
        
    }
    .home-section p{
        font-size: 12px;
        margin: 0 0 240px 0;
    }
    .plans-container{
        flex-wrap: wrap;
    }
    .about-us .about-us-content{
        flex-wrap: wrap;
    }
    .about-us .about-us-content p{
        text-align: center;
        width: 90%;
        font-weight: 700;
        font-size: 16px;
        line-height: 2;
    }
    .about-us .about-us-content img{
        width: 90%;
    }
    .contact .contact-content{
        flex-wrap: wrap;
    }
    .contact .contact-content .team-container{
        flex-direction: row;
        flex-wrap: wrap;
    }
}